<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editUserForm.dirty">
      <strong> Information: </strong>
      You have made changes. Any unsaved changes will be lost.
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs| titlecase}}"
        class="card-img-top img-thumbnail"
      />

      <div class="card-body">
        <div>
          <strong> Location: </strong>
          <p>{{ member!.location | titlecase}}</p>
        </div>
        <div>
          <strong> Age: </strong>
          <p>{{ member!.age }}</p>
        </div>
        <div>
          <strong> Last Active: </strong>
          <p>{{ member!.lastActive | date:'medium' }}</p>
        </div>
        <div>
          <strong> Member Since: </strong>
          <p>{{ member!.created | date }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="submit"
          form="editUserForm"
          [disabled]="!(editUserForm.dirty && isLocationValid)"
          class="btn btn-success btn-block"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{ member!.knownAs }}">
        <form
          [formGroup]="editUserForm"
          id="editUserForm"
          (ngSubmit)="(editUserForm.dirty && isLocationValid) && updateMember()"
        >
          <h4>Description</h4>
          <textarea
            
          formControlName="introduction"
          placeholder="Your introduction"
            class="form-control mx-2"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Looking for</h4>
          <textarea
          formControlName="lookingFor"
          placeholder="lookingFor"
            class="form-control mx-2"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Interests</h4>
          <textarea
          formControlName="interests"
          placeholder="Your interests"
            class="form-control mx-2"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Location Details</h4>
          <div class="form-inline">
            <label for="city">Location:</label>
            <input
              [class.is-invalid]="!isLocationValid"
              formControlName="location"
              placeholder="Location"
              (change)="checkLocationValidity()"
              (keyup)="checkLocationValidity()"
              [isAnimated]="true"
              [adaptivePosition]="true"
              (typeaheadOnSelect)="checkLocationValidity()"
              [dropup]="true"
              [typeahead]="accountService.locations"
              (typeaheadNoResults)="typeaheadNoResults($event)"
              class="form-control"
            />
            <div class="invalid-feedback" *ngIf="!isLocationValid">
              Please enter a valid location name from options.
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
